<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="MMTFunctionalAutomation" parallel="tests" thread-count="2">
    <test name="ChromeTest">
        <parameter name="browserName" value="chrome-local"/>
        <parameter name="hubUrl" value=""/>
        <parameter name="url" value="https://www.makemytrip.com/"/>
        <packages>
            <package name="com.mmt"/>
        </packages>
    </test>
    <test name="FirefoxTest">
        <parameter name="browserName" value="firefox-local"/>
        <parameter name="hubUrl" value=""/>
        <parameter name="url" value="https://www.makemytrip.com/"/>
        <packages>
            <package name="com.mmt"/>
        </packages>
    </test>
</suite>